.header {
    grid-column: container-start / container-end;

    @include respond(tab-port) {
        position: fixed;
    }
    &__checkbox {
        height: 4rem;
        width: 4rem;
        position: fixed;
        top: 2rem;
        right: 2rem;
        cursor: pointer;
        z-index: 30;
        opacity: 0;
        display: none;
        @include respond(tab-port) {
            display: initial;
        }
    }
    // Hamburger Lines
    &__hamburger {
        height: 4rem;
        width: 4rem;
        background-color: royalblue;
        z-index: 20;
        position: fixed;
        top: 2rem;
        right: 2rem;
        display: none;

        @include respond(tab-port) {
            display: grid;
            place-items: center;
        }
    }

    &__hamburger div {
        height: 2px;
        width: 3rem;
        background-color: var(--color-quinary);

        position: relative;

        transition: all 0.5s;
    }

    &__hamburger div::before,
    &__hamburger div::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: var(--color-quinary);
        transition: all 0.8s;
    }
    &__hamburger div::before {
        // top: -1rem;
        // transition: top 0.5s, transform 0.5s 0.5s;

        transform: translateY(-1rem);
    }
    &__hamburger div::after {
        // bottom: -1rem;
        // transition: bottom 0.5s, transform 0.5s 0.5s;
        transform: translateY(1rem);
    }

    // Hamburger checkbox
    &__checkbox:checked ~ &__hamburger div {
        background-color: transparent;
    }

    &__checkbox:checked ~ &__hamburger div::before {
        // top: 0;
        transform: translateY(0rem) rotateZ(225deg);
        // transition: transform 0.5s, top 0.5s 0.5s;
        // transition-property: transform, top;
    }
    &__checkbox:checked ~ &__hamburger div::after {
        // bottom: 0;
        transform: translateY(0rem) rotateZ(495deg);
    }

    &__checkbox:checked ~ &__nav {
        transform: translateX(0);
    }

    &__checkbox:checked ~ &__cover {
        position: absolute;
        background-color: var(--color-primary-m);
        height: 100vh;
        width: 100vw;
        z-index: -1;
    }
    // Nav Bar
    &__nav {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background-color: var(--color-primary);
        overflow: hidden;
        z-index: 10;

        @include respond(tab-port) {
            flex-direction: column;
            padding: 2rem 5rem;
            // align-items: center;
            height: 100vh;
            z-index: 10;
            transform: translateX(-30rem);
            transition: all 0.5s;
        }
    }

    &__logo {
        height: 5rem;
        width: 5rem;
    }

    &__links {
        display: flex;
        gap: 1.5rem;

        @include respond(tab-port) {
            flex-direction: column;
            align-items: center;
        }
    }

    &__link:link,
    &__link:visited {
        display: inline-block;
        padding: 2rem 2rem;
        font-size: 2rem;
        line-height: 1;

        transform-style: preserve-3d;
        transition: all 0.5s;

        position: relative;
        // perspective: 100rem;
    }

    &__link::after {
        content: attr(data-text);
        height: 100%;
        width: 100%;

        display: grid;
        place-items: center;
        position: absolute;
        bottom: -100%;
        left: 0;
        background-color: var(--color-tertiary);

        transform-origin: top;
        transform: rotateX(90deg);
        transition: all 0.3s;
    }

    &__link:hover,
    &__link:visited {
        transform-origin: top;
        transform: rotateX(-90deg);
    }

    &__dark-mode-toggle {
        padding: 1rem 2rem;
        display: grid;
        place-items: center;

        &__toggle {
            width: 6rem;
            height: 2rem;
            background-color: var(--color-tertiary);
            border-radius: 10rem;
            position: relative;
            border: 1px solid var(--color-secondary);
        }

        &__toggle::before,
        &__toggle::after {
            content: "";
            position: absolute;
            background-color: var(--color-quinary);
            height: 1.6rem;
            width: 1.6rem;
            border-radius: 100%;
        }

        &__toggle::before {
            top: 50%;
            left: 5%;
            transform: translateY(-50%);
            transition: all 0.3s;
        }
        &__toggle::after {
            top: 50%;
            right: 5%;
            transform: translateY(-50%);
            transition: all 0.3s;
        }

        &__checkbox {
            width: 2rem;
            height: 2rem;
            border-radius: 10rem;
            display: inline-block;
            cursor: pointer;

            transform: scaleX(3);
            position: absolute;
            z-index: 1;
            opacity: 0;
        }

        &__checkbox:checked ~ &__toggle::after {
            right: 50%;
            transform: translate(50%, -50%);
        }
        &__checkbox:checked ~ &__toggle::before {
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}
