.header {
    grid-column: container-start / container-end;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    &__logo {
        height: 5rem;
        width: 5rem;
    }

    &__links {
        display: flex;
        gap: 2rem;
    }

    &__link {
        display: inline-block;
        padding: 1rem 2rem;
    }

    &__dark-mode-toggle {
        padding: 1rem 2rem;
        display: grid;
        place-items: center;

        &__toggle {
            width: 4rem;
            height: 2rem;
            background-color: var(--color-secondary);
        }
    }
}
