.motto {
    grid-column: container-start / container-end;
    padding: 6vh 4vw;

    color: var(--color-quinary);

    background-image: url(../img/motto/motto-bg.jpg);
    @extend %background-styling;
    background-position: 50% 35%;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 4rem;

    &__card {
        padding: 3rem;
        background-image: linear-gradient(
            var(--color-tertiary-m),
            var(--color-tertiary-m)
        );
        display: flex;
        flex-direction: column;
        gap: 3rem;
        // max-width: 50rem;

        &__title {
            font-size: $font-size-medium;
            font-weight: 300;
        }

        &__para {
            font-size: $font-size-small;
            font-weight: 100;
        }

        &__link:link,
        &__link:visited {
            padding: 1rem 2rem;
            // background-color: blueviolet;
            align-self: start;
            position: relative;
            overflow: hidden;

            transition: all 0.5s ease-in-out;
        }

        // Button Hover effect
        &__link {
            span {
                display: inline-block;
                // background-color: var(--color-primary);
                position: absolute;
                // transition: all 0.8s;
            }
            span:nth-child(1) {
                width: 100%;
                height: 2px;
                background-image: linear-gradient(
                    90deg,
                    transparent,
                    var(--color-primary)
                );
                left: -100%;
                top: 0;

                transition: 0.5s;
                transition-delay: 1s;
            }
            span:nth-child(2) {
                width: 2px;
                height: 100%;
                background-image: linear-gradient(
                    180deg,
                    transparent,
                    var(--color-primary)
                );
                right: 0;
                top: -100%;

                transition: 0.5s;
                transition-delay: 0.75s;
            }
            span:nth-child(3) {
                width: 100%;
                height: 2px;
                background-image: linear-gradient(
                    270deg,
                    transparent,
                    var(--color-primary)
                );
                right: -100%;
                bottom: 0;

                transition: 0.5s;
                transition-delay: 0.5s;
            }
            span:nth-child(4) {
                width: 2px;
                height: 100%;
                background-image: linear-gradient(
                    0deg,
                    transparent,
                    var(--color-primary)
                );
                left: 0;
                bottom: -100%;

                transition: 0.5s;
                transition-delay: 0.25s;
            }
        }

        &__link:hover,
        &__link:active {
            background-color: var(--color-primary);
            transition-delay: 1s;
            // transition: all 0.5s 1.1s;
            span:nth-child(1) {
                transform: translateX(200%);

                transition-duration: 1s;
                transition-delay: 0s;
            }
            span:nth-child(2) {
                transform: translateY(200%);
                // transition-delay: 0.3s;

                transition-duration: 1s;
                transition-delay: 0.25s;
            }
            span:nth-child(3) {
                transform: translateX(-200%);
                // transition-delay: 0.6s;

                transition-duration: 1s;
                transition-delay: 0.5s;
            }
            span:nth-child(4) {
                transform: translateY(-200%);
                // transition-delay: 0.9s;

                transition-duration: 1s;
                transition-delay: 0.75s;
            }
        }
    }
}
