.features {
    grid-column: container-start / container-end;
    padding: 6vh 4vw;

    // background-color: rgb(102, 74, 31);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    gap: 3rem;

    &__card {
        color: var(--color-quinary);
        padding: 3rem;
        display: flex;
        flex-direction: column;
        gap: 5rem;

        @extend %background-styling;

        @for $img from 1 through 9 {
            &--#{$img} {
                background-image: url("../img/features/features-#{$img}.jpg");
            }
        }

        &__title {
            font-size: $font-size-medium;
            font-weight: 300;
            // line-height: 1;
        }
        &__para {
            font-size: $font-size-small;
        }
    }
}

// @for $img from 1 through 9 {
//     .features__card--#{$img} {
//         background-image: url("../img/features/features-#{$img}.jpg");
//     }
// }
