.trainers {
    grid-column: center-start / center-end;
    background-color: var(--color-quaternary);

    &__title {
        font-size: $font-size-medium;
        color: var(--color-quinary);
        font-weight: 500;
        background-color: var(--color-tertiary);
        text-align: center;
        border-radius: 50rem 50rem 0rem 0rem;
    }

    &__cards {
    }

    &__card {
        height: 30rem;
        width: 30rem;
        position: relative;

        &__img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: top;
        }

        &__text {
            // background-color: var(--color-quinary-m);
            // height: 100%;
            // width: 100%;
            padding: 1rem 2rem;
            position: absolute;
            top: 20rem;
            left: 0;
            z-index: 1;
            color: var(--color-quinary);
            // transform: translateX(-100%);
            transition: all 0.3s;
            opacity: 0;
            &--name {
                font-size: 2rem;
            }

            &--job {
                font-size: 1.5rem;
            }
        }

        &:hover &__img {
            filter: contrast(30%);
        }

        &:hover &__text {
            animation: text-move 1s;
            animation-fill-mode: forwards;
        }
    }
}

@keyframes text-move {
    0% {
        transform: translate(-100%, -20rem);
        opacity: 0;
    }
    33% {
        transform: translate(50%, -20rem);
        opacity: 0.5;
    }
    66% {
        transform: translate(50%, 0rem);
        opacity: 0.7;
    }
    100% {
        transform: translate(0, 0rem);
        opacity: 1;
    }
}
