.testimonials {
    grid-column: container-start / container-end;
    background-color: cadetblue;
    padding: 6vh 4vw;
    background-image: linear-gradient(
            var(--color-tertiary-m),
            var(--color-tertiary-m)
        ),
        url(../img/testimonials/testimonials-bg.jpg);

    @extend %background-styling;

    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: center;

    &__title {
        color: var(--color-quinary);
        font-size: $font-size-medium;
        font-weight: 400;
        text-align: center;
    }

    &__text-box {
        color: var(--color-quinary);
        border: 2px solid var(--color-quinary);
        padding: 2rem;
        max-width: 60rem;
        font-size: $font-size-small;
        text-align: center;

        &__text {
            display: flex;
            flex-direction: column;
            gap: 3rem;
        }
    }

    &__pics {
        display: flex;
        gap: 4rem;
    }

    &__pic {
        height: 15rem;
        width: 15rem;
        object-fit: cover;
        border-radius: 100%;
        cursor: pointer;
        opacity: 0.4;
        transition: opacity 0.3s;

        @include respond(phone) {
            height: 10rem;
            width: 10rem;
        }

        &--active {
            opacity: 1;
        }
    }
}
