.footer {
    grid-column: container-start / container-end;
    background-color: rgb(138, 153, 51);
    padding: 6vh 4vw;
    background-image: linear-gradient(
            var(--color-tertiary-m),
            var(--color-tertiary-m)
        ),
        url(../img/footer/footer-bg.jpg);
    @extend %background-styling;

    &__lists {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
        place-items: center;
        // justify-items: center;
    }

    &__list {
        padding: 2rem;
        display: flex;
        flex-direction: column;
        width: 25rem;
        gap: 1rem;
        &__title {
            color: var(--color-quinary);
            font-size: $font-size-small;
            font-weight: 400;
        }
        &__link {
            font-weight: 200;
            font-size: $font-size-small;
        }

        &__para {
            color: var(--color-quinary);
            font-weight: 200;
            font-size: $font-size-small;
        }

        input {
            align-self: flex-start;
            width: 20rem;
            // height: 3rem;
            padding: 1rem;
            background-color: transparent;
            color: var(--color-quinary);
            font-family: inherit;
            font-size: 1.4rem;
            // font-family: "Roboto", sans-serif;
            border: 1px solid var(--color-quinary);
            border-radius: 3px;

            &[type="submit"] {
                transition: all 0.3s;
                &:hover {
                    background-color: var(--color-quinary);
                    color: var(--color-tertiary-m);
                }
            }
        }
    }
}
