.footer {
    grid-column: container-start / container-end;
    background-color: rgb(138, 153, 51);
    padding: 6vh 4vw;
    background-image: linear-gradient(
            var(--color-tertiary-m),
            var(--color-tertiary-m)
        ),
        url(../img/footer/footer-bg.jpg);
    @extend %background-styling;
    display: flex;
    flex-direction: column;
    gap: 5rem;

    &__lists {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
        // place-items: center;
        justify-items: center;
    }

    &__list {
        padding: 2rem;
        display: flex;
        flex-direction: column;
        width: 25rem;
        gap: 1rem;
        &__title {
            color: var(--color-quinary);
            font-size: $font-size-small;
            font-weight: 400;
        }
        &__link {
            font-weight: 200;
            font-size: $font-size-small;
        }

        &__para {
            color: var(--color-quinary);
            font-weight: 200;
            font-size: $font-size-small;
        }

        input {
            align-self: flex-start;
            width: 20rem;
            // height: 3rem;
            padding: 1rem;
            background-color: transparent;
            color: var(--color-quinary);
            font-family: inherit;
            font-size: 1.4rem;
            // font-family: "Roboto", sans-serif;
            border: 1px solid var(--color-quinary);
            border-radius: 3px;

            &[type="submit"] {
                transition: all 0.3s;
                &:hover {
                    background-color: var(--color-quinary);
                    color: var(--color-tertiary-m);
                }
            }
        }
    }

    // LOGO
    &__logo {
        display: flex;
        align-items: center;
        gap: 2rem;
        align-self: center;
        img {
            height: 5rem;
            width: 5rem;
        }
        h3 {
            color: var(--color-quinary);
            font-size: $font-size-small;
            font-weight: 400;
            letter-spacing: 3px;
        }
    }

    // Social

    &__social {
        display: flex;
        justify-content: space-between;
        align-items: center;

        flex-wrap: wrap;
        gap: 3rem;

        @include respond-px(680px) {
            justify-content: center;
        }

        &__call {
            display: flex;
            gap: 2rem;
            align-items: center;
            align-self: center;
            // margin-right: auto;
        }

        &__icons {
            display: flex;
            gap: 2rem;
            align-items: center;
        }

        &__icon {
            border: 2px solid var(--color-quinary);
            border-radius: 100%;
            height: 5rem;
            width: 5rem;
            display: grid;
            place-items: center;
            transition: all 0.3s;

            i {
                font-size: 3rem;
            }

            &:hover {
                background-color: var(--color-quinary);
            }
        }
    }
}
