*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inherit;
}

html {
    font-size: 62.5%; // 1 rem = 10 px; 10px/16px = 62.5

    // @include respond(tab-land) {
    //    font-size: 56.25%; //1 rem = 9px; 9/16=
    // }
    // @include respond(tab-port) {
    //    font-size: 50%; //1 rem = 8px; 8/16=
    // }
    // @include respond(big-desktop) {
    //    font-size: 75%; //1 rem = 12px; 12/16=
    // }
}

body {
    font-family: "Roboto", sans-serif;
    line-height: 1.9;
    background-color: var(--color-primary);
}

.container {
    display: grid;
    grid-template-columns:
        [container-start] 1fr [center-start] repeat(
            6,
            [col-start] minmax(min-content, 16.667rem) [col-end]
        )
        [center-end] 1fr [container-end];
    // grid-template-rows: min-content 90vh;
}

a:link,
a:visited {
    text-decoration: none;
    color: var(--color-quinary);
    font-size: $font-size-small;
}

i {
    font-size: 4rem;
    color: var(--color-primary);
}
